/*#nav_menu ul 
{
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav_menu ul li
{
    float: left;
    display: inline;
    padding: 0 1.5em;
}
#nav_menu ul li a 
{
    font-weight: bold;
    color: blue;
}
#nav_menu ul li a.current {text-decoration: none;}
#nav_menu > ul ii after
{
    content: " ";
    display: block;
    clear: both;
} */
ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 90px;
    flex-wrap: wrap;
    align-content: center;
}
li
{
    background: purple;
    width: 125px;
    margin: 0 15px 0 0;
    padding: 5px;
    text-align: center;
}
a
{
    text-decoration: none;
    color: #000;
}