/* List body */
ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    background: rgb(225, 221, 136);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
}
/* List Content */
li
{
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background: rgb(255, 221, 136);
    width: 150px;
    text-align: center;
}
/* Content Details */
a
{
    text-decoration: none;
    color: #000;
    font-family: Arial;
}
/* Content order, content items */
.flex1
{
    order: 1;
    border: 3px solid black;
}
.flex2
{
    order: 2;
    border: 3px solid black;
}
.flex3
{
    order: 3;
    border: 3px solid black;
}
.flex4
{
    order: 4;
    border: 3px solid black;
}.flex5
{
    order: 5;
    border: 3px solid black;
}
/* Dropdown Button */
.dropbtn 
{
    background-color: #a0629a;
    color: #000000;
    padding: 0px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown 
  {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content 
  {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a 
  {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #da98da;}
