/*#nav_menu ul 
{
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    position: relative;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav_menu ul li
{
    float: left;
    display: inline;
    padding: 0 1.5em;
}
#nav_menu ul li a 
{
    font-weight: bold;
    color: blue;
}
#nav_menu ul li a.current {text-decoration: none;}
#nav_menu ul ul
{
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li
{
    float: none;
}
#nav_menu ul li: hover > ul
{
    display: block;
}
#nav_menu > ul :: after
{
    content: " ";
    display: block;
    clear: both;
} */
ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
}
li
{
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background: rgb(218, 152, 218);
    width: 125px;
    text-align: center;
}
a
{
    text-decoration: none;
    color: #000;
}
.flex1
{
    order: 1;
    border: 3px solid black;
}
.flex2
{
    order: 2;
    border: 3px solid black;
}
.flex3
{
    order: 3;
    border: 3px solid black;
}