/*fonts imported*/
@font-face 
{
    font-family: signika;
    src: url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
}
body
{
    background-color: cornflowerblue;
}
main
{
    background-color: rgb(225, 221, 136);
}
nav, main, footer 
{
    width: 100%;
    max-width: 100%;
    margin: auto;
}
h1
{ 
    margin: 0;
    text-align: center;
    font-family: "signika";
}
h2
{
    text-align: center;
}
.container
{
    width: 100%;
}
.container .title
{
    text-align: center;
    display: inline-block;
}
.container .content
{
    display: flex;
    padding: 0px 10px 0px 10px;
    text-align: center;
}
.container .content .description
{
    width: 60%;
}
.container .content .image
{
    margin: auto;
}
.container .title a 
{
    float: right;
}
.container .title video 
{
    float: right;
    display: absolute;
}
footer
{
    /*background-color:  rgb(211, 135, 255);*/
    text-align: center;
    padding-bottom: 0%;
    align-items: center;
    background-image: url("/webdevelopment/footer-background.png");
}
footer a
{
    float: left;
}
.larger
{
    position: absolute;
    width: 0px;
    transition: width 0.3s linear 0s;
    z-index: 10;
}
footer img:hover + .larger
{
    width: 100px;
}
table
{
    border-collapse: collapse;
    border: 10px solid cornflowerblue;
}
table thead th
{
    text-align: left;
    background-color: rgb(211, 135, 255);
    padding: 4px 30px 4px 8px;

}
table tbody td
{
    border: 1px solid black;
}
table tfoot td
{
    background-color: rgb(211, 135, 255);
    color:rgb(211, 135, 255);
    overflow: scroll;
}
table tbody tr:nth-child(odd) td
{
    background-color: white;
}
/*adjust size of page for device small than desktop */
@media screen and (max-width: 1364px) 
{
    .container1
    {
        width: 100%;
    }
    .container2
    {
        width: 100%;
    }
    .container3
    {
        width: 100%;
    }
    .outer-box
    {
        width: 100%;
    }
    nav
    {
        width: 100%;
    }
    .welcome
    {
        width: 50%;
    }
    .introduction
    {
        width: 50%;
    }
    image
    {
        width: 30%
    }
    .education
    {
        width: 70%
    }
    .bio
    {
        width: 90%
    }
    footer
    {
        width: 100%
    }
}


/*for device size of tablet*/
@media screen and (max-width: 640px)
{ 
    .container
    {
        width: 100%;
    }
    .title
    {
        width: 100%;
    }
    .description
    {
        width: 100%;
    }
    .outer-box
    {
        width: 100%;
    }
    nav
    {
        width: 90%;
    }
    .welcome
    {
        width: 50%;
    }
    .introduction
    {
        width: 50%;
    }
    image
    {
        width: 30%
    }
    .education
    {
        width: 70%
    }
    .bio
    {
        width: 90%
    }
    form 
    {
        width: 80%;
    }
    footer
    {
        width: 100%
    }
} 

/*for device size of phone*/
@media screen and (max-width: 320px)
{
    .container
    {
        width: 100%;
    }
    .title
    {
        width: 320px;
    }
    .description
    {
        width: 100%;
    }
    .outer-box
    {
        width: 100%;
    }
    nav
    {
        width: 90%;
    }
    .welcome
    {
        width: 50%;
    }
    .introduction
    {
        width: 50%;
    }
    image
    {
        width: 30%
    }
    .education
    {
        width: 70%
    }
    .bio
    {
        width: 90%
    }
    table
    {
        width: 100%;
    }
    form 
    {
        width: 100%;
    }
    footer
    {
        width: 100%
    }
}


/*-- Turn off Hamburger outside of Mobile --*/
@media screen and (min-width: 640px){
    #hamburger {
        display: none;
    }   
}

/*print style*/
@media print 
{
    * 
    {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        height: fit-content;
    }
    .outer-box
    {
        background-color: transparent;
        border: transparent;
        margin: 1;
    }
    ul 
    {
        display: none;
    }
    #hamburger
    {
        display: none;
    }
    h1::after
    {
        display: center;
        content: ' Olivia Sifuentes';
        color: #000;
        font-family: "signika";
    }
    h2 
    {
        font-family: sans-serif;
    }
    main 
    {
        margin: 1;
        border: none;
    }
    p 
    {
        text-align: center;
        font-family: sans-serif;
    }
    blockquote 
    {
        text-align: center;
        font-family: sans-serif
    }
    footer
    {
        margin: 1;
    }
    img 
    {
        display: none;
    }
    a[href^="http:"]::after
    {
        content: " [" attr(href)"]";
        color: #000;
    }
    @page
    {
        margin: 0.5cm;
    }
}

